body {
  background-color: #101010;
  margin: 0px;
}

.square {
  background-color: #B600C1;
  float: left;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  border-radius: 25px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  background-color: #5096FF;
  color: #FFFFFF;
  height: 75px;
  margin: 0px;
  text-align: center;
}

#mainText {
  vertical-align: middle;
}

#bar {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
  margin: 0px;
}

button {
  background-color: white;
  color: #5096FF;
  height: 30px;
  border: none;
}

button:hover {
  background-color: #5096FF;
  color: white;
  border: none;
  cursor: pointer;
}

.selected {
  background-color: #5096FF;
  color: white;
  border: none;
}
